<header>
  <nav class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <%= link_to 'Rails Sample App', root_path, class: "btn btn-ghost text-xl" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <li><%= link_to 'Login', "#" %></li>
      </ul>
    </nav>
  </header>